label.error  {
	background:url("../img/unchecked.gif") no-repeat 0px 0px;
	padding-left: 16px;
	padding-bottom: 2px;
	font-weight: bold;
	color: #EA5200;
	display:block;
}
label.checked {
	background:url("../img/checked.gif") no-repeat 0px 0px;
}
input.error {
	border-color:red;
}
input.checked {
	border-color:black;
}
.odd {
	background-color:#ffffff;
}
.even {
	background-color:#eeeeee;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3B3B3B;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #0285CE;
}

a:hover {
}

#tabela{

margin-left:70px;
height: 500px;



}

#background-image
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
	margin: 45px;
	width: 600px;
	text-align: left;
	border-collapse: collapse;
	background: url('../img/person.png') 470px 120px no-repeat;
	background-size:20% auto;
}

#background-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
}
#background-image td
{
	padding: 9px 12px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}
#background-image tbody td
{
	background: url('../img/back.png');
}
* html #background-image tbody td
{
	/* 
	   ----------------------------
		PUT THIS ON IE6 ONLY STYLE 
		AS THE RULE INVALIDATES
		YOUR STYLESHEET
	   ----------------------------
	*/
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png',sizingMethod='crop');
	background: none;
}	
#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}

#dl{
width:150px;

}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
	background: #EDEDED;
}

#menu {
	width: 1000px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-right: 1px solid #FFFFFF;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;
	color: #3B3B3B;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #000000;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: #000000;
}

/* Page */

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 20px 0px;
	background-color: #FFFFFF;
}

/* Content */

#content {
	float: left;
	width: 640px;
}

.post {
	border-left:solid;
	border-width:1px;
	border-color: lightgray;
	margin-top: 30px;
	padding: 10px 10px 0 100px;
	
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 0px 0 0 0px;
	font-size: 32px;
}

.post .title a {
	border: none;
	color: #000000;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar1 img{
width: 300px;
padding-left: 60px;
padding-top:170px;
}

#sidebar3 img{
width: 300px;
padding-left: 60px;
padding-top:140px;
}

#sidebar2 img{
width: 300px;
padding-left: 60px;
padding-top:60px;
}

img{
width: 300px;
padding-left: 60px;
padding-top:30px;
}

td img {
width:32px;
height:32px;
padding-top: 5px;
padding-left: 0px;
}



#adduser{
width: 380px;

border:1px solid;
margin-top:35px;
border-color: lightgrey;
padding-left:120px;



}

table#lista{
    margin: 10px 0;
    border: #999 1px solid;
    width: 700px;
}

table.standard th {
    background: #CCCCCC;
    font-weight: bold;
    padding: 5px 3px;
}

table.standard th#akc {
    background: #CCCCCC;
    font-weight: bold;
    padding: 5px 3px;
 
}



table.standard td {
    border-top: #999 1px solid;
    padding: 5px 1px;
    text-align:center;
    width: 5%;
}

table.standard td#akcje {
    border-top: #999 1px solid;
    padding: 5px 10px;
  
    text-align:center
}


#listuser{
width: 760px;

border:1px solid;
margin-top:35px;
border-color: lightgrey;
padding-left:60px;
}

#page404 img{

width: 500px;
padding-left:150px;
padding-top:0px;


}


#mainsite{

width: 480px;
height: 140px;
border:1px solid;
margin-top:7px;
border-color: lightgrey;
padding-left:20px;
padding-top: 80px;


}


#login p {
padding-bottom: 10px;
padding-top:15px;


}

#adduser p {
padding-bottom: 10px;
padding-top:15px;


}

input, textarea {   
    
	padding:9px;
	
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 13px/100% Verdana, Tahoma, sans-serif;  
    width: 200px;  
    background: #FFFFFF url('bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    }  
  
textarea {   
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
    }  
  
input:hover, textarea:hover,  
input:focus, textarea:focus {   
    border-color: #C9C9C9;   
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    }  
  

  
.submit input {  
    width: auto;  
	margin-top:20px;
    padding: 9px 20px;  
    background: #000000;  
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    }



